@use './media-query' as *;

.legacy {
  background: rgb(210, 220, 230);

  * {
    color: black;
  }

  header {
    align-items: center;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 5px;
    position: relative;
    padding: 10px;

    > h1 {
      font-size: 28px;
      margin-bottom: 0;
    }

    > button {
      left: 10px;
      padding: 10px;
      position: absolute;
    }

    @include tablet {
      > h1 {
        font-size: 20px;
      }

      > a {
        left: 5px;
        padding: 5px;
        position: absolute;
      }
    }
  }

  .links {
    align-items: center;
    background: white;
    bottom: 0;
    display: flex;
    height: 5vh;
    justify-content: space-around;
    position: fixed;
    width: 100%;

    @include tablet {
      font-size: 14px;
      height: 4vh;
    }
  }

  main {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .instructions {
    background: white;
    border-radius: 5px;
    padding: 8px;

    h1 {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    ul {
      display: flex;
      flex-direction: column;
      font-weight: 300;
      margin-right: 16px;
      margin-bottom: 0;

      li {
        font-size: 16px;
        list-style-type: square;
        margin-bottom: 3px;
      }
    }

    @include tablet {
      h1 {
        font-size: 14px;
        font-weight: 400;
      }

      li {
        font-size: 12px;
        list-style-type: square;
        margin-bottom: 3px;
      }
    }
  }
}
